# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ACCESS_TOKEN=


# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="mysql://c7r9plibstzd:pscale_pw_knZEhXl9gTFE7iIHSz4QsMhAhpl3VNcAbAgfolY5TFg@wlqznc4fh0h0.us-east-2.psdb.cloud/tables_app?sslaccept=strict"

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
POSTMARK_API_TOKEN=
SMTP_HOST=smtp.postmarkapp.com
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=marshal@rooted.software
POSTMARK_SIGN_IN_TEMPLATE=29887409
POSTMARK_ACTIVATION_TEMPLATE=29887394

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PLAN_ID=

# -----------------------------------------------------------------------------
# CMS (Sanity.io)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SANITY_PROJECT_ID="4lec62vz"
SANITY_API_PROJECT_ID="4lec62vz"
SANITY_STUDIO_API_PROJECT_ID="4lec62vz"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_DATASET="production"
SANITY_STUDIO_API_DATASET="production"
SANITY_API_READ_TOKEN="skQxYbUTtsVTlUMWqX71RwWgGJMOAN617sbHelRJ0YwTPWRS2hhyXzsef64HrGJKGxQDwmUh1Ge7ExBnzZCyjk9LG26M5YoVVYu8Lh3j0eteJnQ38v9EkaDGJzcd9tc2ITqFHbL80jlbbrwMWXykP0m2d9ZfGGUaI24NnBmOLpwLl1N8vEyv"
SANITY_API_WRITE_TOKEN="skWUi9b9oSrt36GsFg0ODHtdcNxkvg78j0sddKS4q4AHMFUBVcvxwHwuU8xnQHJG0yYaWJv9GpXj2Dr7D7C7YkkK6hPlzqjd9teLAWlT5QO9Pb7e1lNmdoTvFpJ6pkxkJOWoTgAXeIVWDeGU1HimYDMeNPUDiU8Iejv1FX5omn0Z7xoo6KY4"
