# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ACCESS_TOKEN=


# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL=

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
POSTMARK_API_TOKEN=
SMTP_HOST=smtp.postmarkapp.com
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=marshal@rooted.software
POSTMARK_SIGN_IN_TEMPLATE=29887409
POSTMARK_ACTIVATION_TEMPLATE=29887394

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PLAN_ID=

# -----------------------------------------------------------------------------
# CMS (Sanity.io)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SANITY_PROJECT_ID="4lec62vz"
SANITY_API_PROJECT_ID="4lec62vz"
SANITY_STUDIO_API_PROJECT_ID="4lec62vz"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_DATASET="production"
SANITY_STUDIO_API_DATASET="production"
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
