.sona-theme {
  /* Display */
  --sona-text-display-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-display-font-weight: 400;

  --sona-text-display-large-font-size: 57px;
  --sona-text-display-large-line-height: 64px;
  --sona-text-display-large-letter-spacing: 0;

  --sona-text-display-medium-font-size: 45px;
  --sona-text-display-medium-line-height: 52px;
  --sona-text-display-medium-letter-spacing: 0;

  --sona-text-display-small-font-size: 36px;
  --sona-text-display-small-line-height: 44px;
  --sona-text-display-small-letter-spacing: 0;
}
