.sona-theme {
  /* Display */
  --sona-text-display-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-display-font-weight: 400;

  --sona-text-display-large-font-size: 57px;
  --sona-text-display-large-line-height: 64px;
  --sona-text-display-large-letter-spacing: 0;

  --sona-text-display-medium-font-size: 45px;
  --sona-text-display-medium-line-height: 52px;
  --sona-text-display-medium-letter-spacing: 0;

  --sona-text-display-small-font-size: 36px;
  --sona-text-display-small-line-height: 44px;
  --sona-text-display-small-letter-spacing: 0;

  /* Headline */
  --sona-text-headline-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-headline-font-weight: 400;

  --sona-text-headline-large-font-size: 32px;
  --sona-text-headline-large-line-height: 40px;
  --sona-text-headline-large-letter-spacing: 0;

  --sona-text-headline-medium-font-size: 28px;
  --sona-text-headline-medium-line-height: 36px;
  --sona-text-headline-medium-letter-spacing: 0;

  --sona-text-headline-small-font-size: 24px;
  --sona-text-headline-small-line-height: 32px;
  --sona-text-headline-small-letter-spacing: 0;

  /* Title */
  --sona-text-title-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-title-font-weight: 400;

  --sona-text-title-large-font-size: 22px;
  --sona-text-title-large-line-height: 28px;
  --sona-text-title-large-letter-spacing: 0;

  --sona-text-title-medium-font-size: 16px;
  --sona-text-title-medium-line-height: 24px;
  --sona-text-title-medium-letter-spacing: 0;

  --sona-text-title-small-font-size: 14px;
  --sona-text-title-small-line-height: 20px;
  --sona-text-title-small-letter-spacing: 0;

  /* Title Expanded */
  --sona-text-title-expanded-font-family: var(
    --sona-font-abc-diatype-expanded,
    'ABC Diatype Expanded'
  );
  --sona-text-title-expanded-font-weight: 400;

  --sona-text-title-expanded-large-font-size: 22px;
  --sona-text-title-expanded-large-line-height: 28px;
  --sona-text-title-expanded-large-letter-spacing: 0;

  --sona-text-title-expanded-medium-font-size: 16px;
  --sona-text-title-expanded-medium-line-height: 24px;
  --sona-text-title-expanded-medium-letter-spacing: 0;

  --sona-text-title-expanded-small-font-size: 14px;
  --sona-text-title-expanded-small-line-height: 20px;
  --sona-text-title-expanded-small-letter-spacing: 0;

  /* Label */
  --sona-text-label-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-label-font-weight: 400;

  --sona-text-label-large-font-size: 14px;
  --sona-text-label-large-line-height: 20px;
  --sona-text-label-large-letter-spacing: 0;

  --sona-text-label-small-font-size: 12px;
  --sona-text-label-small-line-height: 16px;
  --sona-text-label-small-letter-spacing: 0.5px;

  /* Label Mono */
  --sona-text-label-mono-font-family: var(
    --sona-font-abc-diatype-mono,
    'ABC Diatype Semi Mono'
  );
  --sona-text-label-mono-font-weight: 400;

  --sona-text-label-mono-large-font-size: 14px;
  --sona-text-label-mono-large-line-height: 20px;
  --sona-text-label-mono-large-letter-spacing: 0.2px;

  --sona-text-label-mono-small-font-size: 12px;
  --sona-text-label-mono-small-line-height: 16px;
  --sona-text-label-mono-small-letter-spacing: 0.5px;

  /* Body */
  --sona-text-body-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-body-font-weight: 400;

  --sona-text-body-large-font-size: 16px;
  --sona-text-body-large-line-height: 24px;
  --sona-text-body-large-letter-spacing: 0;

  --sona-text-body-medium-font-size: 14px;
  --sona-text-body-medium-line-height: 20px;
  --sona-text-body-medium-letter-spacing: 0;

  --sona-text-body-small-font-size: 12px;
  --sona-text-body-small-line-height: 16px;
  --sona-text-body-small-letter-spacing: 0.4px;

  /* Button */
  --sona-text-button-font-family: var(--sona-font-abc-diatype, 'ABC Diatype');
  --sona-text-button-font-weight: 400;

  --sona-text-button-medium-font-size: 16px;
  --sona-text-button-medium-line-height: 24px;
  --sona-text-button-medium-letter-spacing: 0;

  /* Text Button */
  --sona-text-text-button-font-family: var(
    --sona-font-abc-diatype-mono,
    'ABC Diatype Semi Mono'
  );
  --sona-text-text-button-font-weight: 400;

  --sona-text-text-button-medium-font-size: 10px;
  --sona-text-text-button-medium-line-height: 14px;
  --sona-text-text-button-medium-letter-spacing: 0.75px;
}
