@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-100: 152 153 164;
  --tw-color-primary-200: 148 149 159;
  --tw-color-primary-300: 123 127 175;
  --tw-color-primary-350: 142 153 243;
  --tw-color-primary-400: 91 99 180;
  --tw-color-primary-500: 66 68 96;
  --tw-color-primary-600: 49 50 74;
  --tw-color-primary-700: 41 42 62;
  --tw-color-primary-800: 35 38 56;
  --tw-color-primary-900: 26 28 40;

  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0e7ff */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #c7d2fe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #a5b4fc */
  --color-primary-350: rgb(var(--tw-color-primary-350)); /* #8E99F3 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #818cf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #6366f1 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #4f46e5 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4338ca */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #3730a3 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #312e81 */
  /* #endregion  /**======== Primary Color =========== */

  --tw-color-offwhite-100: 255 255 255 0.64;
  --color-offwhite-100: rgb(var(--tw-color-offwhite-100));
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Noto Sans JP', 'sans-serif';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  html,
  body {
    background-color: #161616;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 3px;
  background: #fffff;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -7.8px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: ;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
