.sona-btn {
  font-weight: var(--sona-text-button-font-weight);
  font-size: var(--sona-text-button-medium-font-size);
  line-height: var(--sona-text-button-medium-line-height);
  letter-spacing: var(--sona-text-button-medium-letter-spacing);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sona-btn[disabled] {
  cursor: default;
}

/*
  Sizes
 */
.sona-btn-small {
  font-family: var(--sona-text-label-mono-font-family);
  font-size: var(--sona-text-label-mono-small-font-size);
  font-weight: var(--sona-text-label-mono-font-weight);
  text-transform: uppercase;
  height: 24px;
  padding: 0 8px;
  gap: 8px;
}
.sona-btn-medium {
  font-family: var(--sona-text-label-mono-font-family);
  font-size: var(--sona-text-label-mono-large-font-size);
  font-weight: var(--sona-text-label-mono-font-weight);
  text-transform: uppercase;
  height: 36px;
  padding: 0 16px;
  gap: 12px;
}
.sona-btn-large {
  font-family: var(--sona-text-button-font-family);
  font-size: var(--sona-text-button-medium-font-size);
  font-weight: var(--sona-text-button-font-weight);
  height: 56px;
  padding: 0 20px;
  gap: 12px;
}

/*
  Icons
 */
.sona-btn-icon-left {
  flex-direction: row;
}

.sona-btn-icon-right {
  flex-direction: row-reverse;
}

/*
  Primary Button
 */
.sona-btn-primary {
  background-color: var(--sona-color-btn-bg-primary);
  border: 1px solid var(--sona-color-btn-bg-primary);
  color: var(--sona-color-bg-primary); /* just made these up */
}
.sona-btn-primary:hover {
  background-color: var(--sona-color-btn-bg-primary-hover);
  border: 1px solid var(--sona-color-btn-bg-primary-hover);
  color: var(--sona-color-bg-primary); /* just made these up */
}
.sona-btn-primary[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled); /* just made these up */
}

/*
  Secondary Button
 */
.sona-btn-secondary {
  background-color: var(--sona-color-btn-bg-secondary);
  border: 1px solid var(--sona-color-btn-bg-secondary);
  color: var(--sona-color-btn-text-secondary); /* just made these up */
}
.sona-btn-secondary:hover {
  background-color: var(--sona-color-btn-bg-secondary-hover);
  border: 1px solid var(--sona-color-btn-bg-secondary-hover);
  color: var(--sona-color-btn-text-secondary); /* just made these up */
}
.sona-btn-secondary[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled); /* just made these up */
}

/*
  Tertiary Button
 */
.sona-btn-tertiary {
  background-color: transparent;
  border: 1px solid var(--sona-color-border-secondary);
  color: var(--sona-color-btn-text-tertiary); /* just made these up */
}
.sona-btn-tertiary:hover {
  background-color: transparent;
  border: 1px solid var(--sona-color-border-secondary-hover);
  color: var(--sona-color-btn-text-secondary); /* just made these up */
}
.sona-btn-tertiary[disabled] {
  background-color: transparent;
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled); /* just made these up */
}

/*
  Text Only Button
 */
.sona-btn-text {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--sona-color-btn-text-secondary); /* just made these up */
}
.sona-btn-text:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--sona-color-btn-text-primary); /* just made these up */
}
.sona-btn-text[disabled] {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--sona-color-text-disabled); /* just made these up */
}

/*
  Context Specific Button Colors
 */
/*
  Positive
 */
.sona-btn-positive {
  background-color: var(--sona-color-btn-bg-secondary-positive);
  border: 1px solid var(--sona-color-btn-bg-secondary-positive);
  color: var(--sona-color-btn-text-positive); /* just made these up */
}
.sona-btn-positive:hover {
  background-color: var(--sona-color-btn-bg-secondary-positive-hover);
  border: 1px solid var(--sona-color-btn-bg-secondary-positive-hover);
  color: var(--sona-color-btn-text-positive);
}
.sona-btn-positive[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled);
}

/*
  Positive
 */
.sona-btn-negative {
  background-color: var(--sona-color-btn-bg-secondary-negative);
  border: 1px solid var(--sona-color-btn-bg-secondary-negative);
  color: var(--sona-color-btn-text-negative);
}
.sona-btn-negative:hover {
  background-color: var(--sona-color-btn-bg-secondary-negative-hover);
  border: 1px solid var(--sona-color-btn-bg-secondary-negative-hover);
  color: var(--sona-color-btn-text-negative);
}
.sona-btn-negative[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled);
}

/*
  Positive
 */
.sona-btn-warning {
  background-color: var(--sona-color-btn-bg-secondary-warning);
  border: 1px solid var(--sona-color-btn-bg-secondary-warning);
  color: var(--sona-color-btn-text-warning);
}
.sona-btn-warning:hover {
  background-color: var(--sona-color-btn-bg-secondary-warning-hover);
  border: 1px solid var(--sona-color-btn-bg-secondary-warning-hover);
  color: var(--sona-color-btn-text-warning);
}
.sona-btn-warning[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled);
}

/*
  Protocol
  todo: these colors are not defined in the design system, only
   some but those use secondary colors, not these primary protocol colors
  todo: also, the !important is terrible but needed to override some more specific globals 
 */

.sona-btn-protocol {
  background-color: var(--sona-color-btn-bg-primary-protocol) !important;
  border: 1px solid var(--sona-color-btn-bg-primary-protocol) !important;
  color: var(--sona-color-text-inverted) !important;
}
.sona-btn-protocol:hover {
  background-color: var(--sona-color-btn-bg-primary-protocol) !important;
  border: 1px solid var(--sona-color-btn-bg-primary-protocol) !important;
  color: var(--sona-color-text-inverted) !important;
}
.sona-btn-protocol[disabled] {
  background-color: var(--sona-color-btn-bg-disabled) !important;
  border: 1px solid var(--sona-color-btn-bg-disabled) !important;
  color: var(--sona-color-text-disabled) !important;
}

/*
  Positive
 */
.sona-btn-link {
  background-color: var(--sona-color-btn-bg-secondary-link);
  border: 1px solid var(--sona-color-btn-bg-secondary-link);
  color: var(--sona-color-btn-text-link);
}
.sona-btn-link:hover {
  background-color: var(--sona-color-btn-bg-secondary-link-hover);
  border: 1px solid var(--sona-color-btn-bg-secondary-link-hover);
  color: var(--sona-color-btn-text-link);
}
.sona-btn-link[disabled] {
  background-color: var(--sona-color-btn-bg-disabled);
  border: 1px solid var(--sona-color-btn-bg-disabled);
  color: var(--sona-color-text-disabled);
}
